<form class="form-horizontal" onsubmit="return false;">
	<fieldset>
		<legend>Currency Converter</legend>
		<div class="form-group">
			<label class="col-md-4 control-label" for="textinput">Amount:</label>  
			<div class="col-md-4">
				<input id="amount" name="textinput" type="text" placeholder="how much?" class="form-control input-md">
				<span class="help-block"></span>  
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label" for="selectbasic">From:</label>
			<div class="col-md-4">
				<select ng-model="converter.from" id="from" name="selectbasic" class="form-control" ng-options="v as k for (k, v) in converter.currency"></select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label" for="selectbasic">To:</label>
			<div class="col-md-4">
				<select ng-model="converter.to" 
								id="to" 
								name="selectbasic" 
								class="form-control" 
								ng-options="v as k for (k, v) in converter.currency">
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label" for="singlebutton"></label>
			<div class="col-md-4">
				<button id="exchange" name="singlebutton" class="btn btn-primary" ng-click="converter.calculate(converter)">Exchange</button>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label" for="textinput">Result:</label>  
			<div class="col-md-4">
			<input id="result" name="textinput" type="text" placeholder="you will get..." class="form-control input-md" ng-model="converter.result" readonly>
			</div>
		</div>
	</fieldset>
</form>